<footer class="inscroll">
    <div></div>
    <section id="footer-content">
        <a href="https://github.com/Sofieohlsson" target="_blank" rel="noopener noreferrer">Github<img class="githublogo" src="/assets/images/GitHub-Mark-32px.png" alt=""></a>
        <a href="https://www.linkedin.com/in/sofieohlsson/" target="_blank" rel="noopener noreferrer">LinkedIn <img class="linkedin-logo" src="/assets/images/linkedin_png_icon_42.png" alt=""></a>
    </section>
    <div class="div-right"></div>
</footer>