.topnav {
    overflow: hidden;
    background-image: linear-gradient(to right, #8cfcff99, #f2ffaf87);  
  }

  body {
    background-image: url("/assets/images/spring-bg.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
}

.topnav a {
  color: black;
}

.topnav a.active {
  background-color: #77fffaad;
  color: black;
}

.season-img{
  background:url("/assets/images/spring-test.png");
}
